body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.md-nav .md-nav__title {
    font-size: 1em;
    font-weight: 500;
    text-transform: uppercase;
    padding-top: 12px;
}

.md-nav[data-md-level="1"] .md-nav__title {
    font-size: 1.2em;
    font-weight: 500;
    padding-top: 0;
}

.md-content__inner h1{
    color: inherit;
    font-weight: 400;
}

.md-nav__link {
    color: rgba(255,255,255,0.7);
}

.md-typeset h2 {
    font-size: 1.8em;
}

.md-typeset h3 {
    font-size: 1.4em;
}

/* No in-word break */
code {
    white-space: pre;
}

/* Align text right */
.text-align-right {
    text-align: right;
}

/* Page-wide table */
.md-typeset__table {
    min-width: 100%;
}
.md-typeset table:not([class]) {
    display: table;
}
